<form [formGroup]="addForm">
  <div class="row justify-content-center align-items-center m-2">
    <div class="d-flex col-12 justify-content-center mx-auto">
      <h1 class="my-2 text-primary">Ajouter une nouvelle tâche</h1>
    </div>
    <div class="col-12">
      <div class="mb-3">
        <mat-form-field class="col-12">
          <mat-label for="titre" class="form-label">Titre</mat-label>
          <input
            matInput
            formControlName="title"
            type="email"
            id="titre"
            placeholder="titre de la task"
          />
        </mat-form-field>
        <app-error-min-length
          [showError]="
            (addForm.get('title')?.hasError('required') &&
              addForm.get('title')?.touched) ||
            (addForm.get('title')?.hasError('minlength') &&
              addForm.get('title')?.touched) ||
            (addForm.get('title')?.hasError('maxlength') &&
              addForm.get('title')?.touched)
          "
          [require]="
            addForm.get('title')?.hasError('required') &&
            addForm.get('title')?.touched
          "
          [fieldName]="'titre'"
          [minLength]="
            addForm.get('title')?.hasError('minlength') &&
            addForm.get('title')?.touched
              ? 2
              : undefined
          "
          [maxLength]="
            addForm.get('title')?.hasError('maxlength') &&
            addForm.get('title')?.touched
              ? 30
              : undefined
          "
        ></app-error-min-length>
      </div>
      <div class="mb-3">
        <mat-form-field class="col-12">
          <mat-label for="description">Déscription</mat-label>
          <textarea
            matInput
            formControlName="description"
            id="description"
            rows="3"
          ></textarea>
        </mat-form-field>
        <app-error-min-length
          [showError]="
            (addForm.get('description')?.hasError('required') &&
              addForm.get('description')?.touched) ||
            (addForm.get('description')?.hasError('minlength') &&
              addForm.get('description')?.touched) ||
            (addForm.get('description')?.hasError('maxlength') &&
              addForm.get('description')?.touched)
          "
          [require]="
            addForm.get('description')?.hasError('required') &&
            addForm.get('description')?.touched
          "
          [fieldName]="'description'"
          [minLength]="
            addForm.get('description')?.hasError('minlength') &&
            addForm.get('description')?.touched
              ? 2
              : undefined
          "
          [maxLength]="
            addForm.get('description')?.hasError('maxlength') &&
            addForm.get('description')?.touched
              ? 50
              : undefined
          "
        ></app-error-min-length>
      </div>
      <div class="mb-3">
        <mat-form-field class="col-12">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option *ngFor="let option of status" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <app-error-min-length
          [showError]="
            addForm.get('status')?.hasError('required') &&
            addForm.get('status')?.touched
          "
          [require]="
            addForm.get('status')?.hasError('required') &&
            addForm.get('status')?.touched
          "
          [fieldName]="'status'"
          [minLength]="undefined"
          [maxLength]="undefined"
        ></app-error-min-length>
      </div>

      <div class="col-12 justify-content-end ms-auto">
        <div class="d-flex justify-content-end ms-auto align-items-center">
          <button mat-raised-button (click)="initForm()" class="cancel mx-2">
            Annuler
          </button>
          <button
            (click)="addTask()"
            mat-raised-button
            class="mx-2"
            color="primary"
          >
            Valider
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
