.cancel {
    --mdc-protected-button-disabled-container-color: rgba(0, 0, 0, 0.12);
    --mdc-protected-button-disabled-label-text-color: rgba(0, 0, 0, 0.38);
    --mdc-protected-button-container-color: rgba(0, 0, 0, 0.12);
    --mdc-protected-button-label-text-color: rgba(0, 0, 0, 0.38);
    --mdc-protected-button-container-elevation: 0;
  }